
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.navbar-brand {
    width: 5rem;
    height: auto;
}

.navbar-brand img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}