@import './components/inicio';
@import './components/quienes__somos';
@import './components/productos';
@import './components/exportacion';
@import './components/contacto';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}