

.header{
        h1 {
            nav{
                div{
                    a{
                      width: 5rem;
                      height: auto;
                      img{
                          width: 100%;
                          height: auto;
                          object-fit: cover;
                    }  
                }
            }

        }
    }
}